<%= form_with(model: group, remote:true, validate:true, local:false) do |form| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h3>

      <ul>
        <% group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
    <span id = "nameBlock" class="help-block"></span>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
    <span id = "emailBlock" class="help-block"></span>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
    <span id = "descriptionBlock" class="help-block"></span>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
  
  
<% end %>


